<div class="flex flex-col h-screen w-full bg-slate-100 overflow-hidden font-sans text-slate-800 selection:bg-blue-900/20">
  
  <!-- Topbar (Full Width) -->
  <app-licores-topbar (toggleSidebar)="toggleSidebar()"></app-licores-topbar>

  <!-- Body Content Area -->
  <div class="flex flex-1 overflow-hidden relative bg-slate-50">
    
    <!-- Main Sidebar -->
    <div 
      (mouseenter)="isSidebarHovered.set(true)"
      (mouseleave)="isSidebarHovered.set(false)"
      class="shrink-0 h-full transition-all duration-300 overflow-hidden"
      [class.w-64]="!isSidebarCollapsed() || isSidebarHovered()"
      [class.w-16]="isSidebarCollapsed() && !isSidebarHovered()"
    >
      <app-licores-sidebar 
        [isCollapsed]="isSidebarCollapsed() && !isSidebarHovered()" 
        (toggleCollapse)="toggleSidebar()"
      >
      </app-licores-sidebar>
    </div>

    <!-- Page Content Area with Scroll -->
    <main class="flex-1 overflow-y-auto relative bg-slate-50 flex flex-col h-full">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
